<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualziar Empleado</title>
</head>

<body style="width: 30%;  margin: auto; text-align: center;">
    <div class="container">
        <h1 style="color: #ef3bd1;font-weight: bolder;text-shadow: 5px 5px 5px #00d4ff;">Actualizando...</h1>
        <form class="form-control" method="post"> {% csrf_token %} <br> {{form.as_p}} <br>
            <button class="btn btn-primary" type="submit"> Actualizar </button>
        </form>
    </div>
</body>

</html>